<header>
    <nav class="mb-1 navbar navbar-expand-lg navbar-expand narbar-height border-bottom">
        <div class="container">
            <!-- <div class="navbar-brand"><a class="text-uppercase text-dark card-link font-bar font-weight-bold" href="/">{{ site.title }}</a></div> -->
            <div class="navbar-brand"><a class="text-uppercase text-dark card-link font-bar font-weight-bold" href="/">dev-note</a></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="nav navbar-nav ml-auto text-nowrap">
                    
                    {% for dropdown in site.data.dropdown %}
                        <li {{ dropdown.li-class }}>
                            <a class="btn nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{ dropdown.i-class }}">
                                    <span class="hidden-md ml-1"> {{ dropdown.title }} </span>
                                </i>
                            </a>

                            <div class="dropdown-menu dropdown-default dropdown-menu-right shadow-lg" aria-labelledby="navbarDropdownMenuLink-333" style="height:300px; overflow-y: scroll;">
                                {% for topics in site.data.dropdown-topic.data-nar %}
                                    <h4 class="dropdown-header"> {{ topics.h4-title }} </h4>
                                        {% for item in topics.topic %}
                                            {% if item.disa == "disabled" %}
                                                <a class="dropdown-item disabled" href="{{ item.path }}" >
                                                    <img class="rounded-circle z-depth-0 mr-sm-2" src="{{ item.img-src }}">
                                                        {{ item.text-title }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ item.path }}" >
                                                    <img class="rounded-circle z-depth-0 mr-sm-2" src="{{ item.img-src }}">
                                                        {{ item.text-title }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}

                    {% for item in site.data.navigation %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ item.path }}">
                                <i class="{{ item.i-class }}">
                                    <span class="{{ item.span-class }}">
                                        {{ item.title }}
                                    </span>
                                </i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>