.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

@media (max-width: 768px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 575px) {
}

@media (max-width: 405px) {
  .hidden-md-sm-405 {
    display: none;
  }
}

html, body {
  height: 100%;
}

body {
  // min-height: 75rem;
  // background: #dfe4e9; (old)
  background: #f8f9fa;
  color: rgb(60, 72, 88);
  min-width: 320px;
}

.bg-blue{
  background: blue;
}

.progress {
  // margin-top: 2px;
  border-radius: 999px;
}

.bg-views {
  background-attachment: fixed;
  background-image: url("../img/bg-wOlf.jpg");
  background-position:center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.container-border-radius {
  border: none;
  border-radius: 8px;
}

.outline-none {
  border:1px solid #ccc !important;
  box-shadow:none !important;
  outline: none;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.backdrop-filter {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(243, 243, 243, 0.425);
}

.text-white {
  color: $white;
}

.img-private {
  img {
    margin: 0 5px 4px 0;
    width: 20px;
  }
}