@font-face {
  font-family: titleNar;
  font-size: 16px;
  src: url(../fonts/UTM-Gradoo.ttf) format('truetype');
}

.font-bar {
  font-family: titleNar;
}

@media (max-width: 361px) {
  .font-bar{
    font-size: 0.95rem;
  } 
}
@media (max-width: 320px) {
  .font-bar {
    font-size: 0.875rem;
  }
  .icon-narbar {
    height: 18px;
    width: 18px;
  }
}

header {
  background-image: url("/assets/img/ny-header-light.jpg");
  background-image: -webkit-url("/assets/img/ny-header-light.jpg");
  background-image: -moz-url("/assets/img/ny-header-light.jpg");
  background-image: -o-url("/assets/img/ny-header-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.narbar-height {
  height: 50px;
}

.input-search {
  border-radius: 999px 0 0 999px;
  border-right: none;
  padding-left: 20px;
}
.outline-none {
  border:1px solid rgba(204, 204, 204, 0) !important;
  box-shadow:none !important;
  outline: none;
}
// #bottom-search {
//   border: none;
//   border-radius: 0 999px 999px 0;
// }