.card-position {
    position: relative;
    top: -44px;
}

.hover-img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}