// html.transition,
// html.transition *,
// html.transition *:before,
// html.transition *:after {
//     transition: all 650ms !important;
//     transition-delay: 0 !important;
// }

// html {
//     --bg: #f8f9fa;
//     --text: #3c4858;
// }
// html[data-theme='dark'] {
//     --bg: rgb(0, 0, 0);
//     --text: rgb(230, 230, 230);
// }

// html main .post {
//     background-color: var(--bg) !important;
// }

// html main .post > h1, h2, h3, h4, h5, h6, p, strong, b, em, span, small, ul, ol, li {
//     color: var(--text);
// }


.pager {
    list-style: none;
    padding: 40px;
    li.previous {
        float: left;
    }    
    li.next {
        float: right;
    }
};

.category-post div h5 {
    display: inline-block;
    
}


@media only screen and (max-width: 767px){
    .category-post {
        display: none;
    }
}