---
layout: default
title: Riêng tư
---
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto mt-1">
                <div class="my-3 pl-2 container-border-radius bg-light img-private">
                    <h3 class="text-center pt-2">{{ page.title }}</h3>
                    <div class="pb-2">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>